<div class="row">
  <div class="col-12">
    <img src="{{receivedRecipe.imagePath}}" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{receivedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>Manage Recipe</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Add Ingredients to Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>{{receivedRecipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
