<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmitngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required [pattern]="'^[A-Z][a-z]*$'">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" id="amount" class="form-control" name="amount" ngModel required
            [pattern]="'^[1-9]+[0-9]*$'">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success mr-1"
            [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger mr-1" (click)="onDeleteIngredient()"
            *ngIf="editMode">Delete</button>
          <button type="button" class="btn btn-primary mr-1" (click)="onClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
